<h1 class="tag">Resultado</h1>

<label>Pregunta</label>
<div class="box"><%= quiz.pregunta %></div>

<label>Respuesta dada</label>
<div class="box"><%= respuesta||'-' %></div>

<label>Resultado</label>
<div class="box"><big class="resaltado <%=resultado.toLowerCase()%>"><strong><%= resultado %></strong></big></div>


<p><hr></p>
	
	<a href="/quizes/<%= quiz.id %>">
		<button type="button">
			&laquo; Volver
		</button>	
	</a>
