<h1 class="tag">Índice de preguntas</h1>

<table class="transparent"><tr>

	<td>
		<a href="/quizes/new">
			<button type="button">
				Crear pregunta
			</button>
		</a>	
	</td>

	<td align="right">
		<form id="form-search">
			<input type="text" name="search" value="<%= search %>"><input type="submit" value="buscar">
		</form>
		<small>las búsquedas diferencian entre mayúsculas y minúsculas</small>
	</td>

</tr></table>

<table>

<% var i; for (i=0; i<quizes.length; i++) {  %>

<tr>
	<td>
		<%= quizes[i].tema_text %>
	</td>
	<td>
		<a href="quizes/<%= quizes[i].id %>">
			<%= quizes[i].pregunta %>
		</a>
	</td>
	<td width="1%">
		<a href="/quizes/<%= quizes[i].id %>/edit">
			<button type="buton">
				editar
			</button>
		</a>
	</td>
	<td width="1%">
		<form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
			<button type="submit" onClick="return confirm('¿Borrar pregunta?\n\n<%= quizes[i].pregunta %>')">
				borrar
			</button>
		</form>
	</td>
</tr>

<% } %>

</table>
